<thead>
    <tr>
        <th scope="col">Название</th>
        <th scope="col">Цена</th>
        <th scope="col">Единица измерения</th>
        <th scope="col">Дата поступления</th>
        <th scope="col">Поставщик</th>
    </tr>
</thead>
<tbody>
    {% for object in products %}
        <tr>
            <td>{{ object.name }}</td>
            <td>{{ object.price }}</td>
            <td>{{ object.measure_unit }}</td>
            <td>{{ object.reciept_date }}</td>
            <td>{{ object.vendor }}</td>
        </tr>
    {% endfor %}
</tbody>